<a href="{% url 'recipe-detail' recipe.id %}" class="block">
    <div class="recipe-card bg-white rounded shadow-md overflow-hidden flex flex-col items-center shadow-lg transition-all duration-700 hover:scale-110 cursor-pointer"
        style="flex: 0 0 auto; width: 200px; height: 300px;">
        <img src="{{ MEDIA_URL }}{{ recipe.picture_url }}" alt="{{ recipe.title }}" class="w-full h-64 object-cover rounded-t-lg">
        <h3 class="text-lg font-medium mt-2">{{ recipe.title }}</h3>
    </div>
</a>
